@tailwind base;
@tailwind components;
@tailwind utilities;

.maincontainer {
    background-image: url("../assets/images/launchgr.jpg");
    background-size: cover;
}

.secondcontainer {
    background-image: url("../assets/images/dragongr.jpg");
    background-size: cover;
}

.htmlmain {
    scroll-behavior: smooth;
}

.launches_background {
    background-color: #121212;
}

.searchbar {
    background-color: #121212;
}