@tailwind base;
@tailwind components;
@tailwind utilities;

.maincontainer {
    background-image: url("../assets/images/launch.jpg");
}

.secondcontainer {
    background-image: url("../assets/images/dragon.jpg");
}

.htmlmain {
    scroll-behavior: smooth;
}